body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

main .main-info-content {
    padding-top: 0;
}

main .info-title {
    text-align: center;
    font-size: 40px;
    font-weight: 600;
}

main .links-title {
    color: black;
    font-weight: 600;
    font-size: 23px;
    padding-bottom: 10px;
}

main .survey-articles {
    text-align: center;
    color: black;
}

main .survey-article {
    display: flex;
    align-items: flex-start;
    text-align: left;
    padding: 20px;
    margin: 20px auto;
    max-width: 70%;
}

main .survey-article-image {
    max-width: 200px;
    max-height: 200px;
    margin-right: 20px;
}

main .survey-article-title {
    font-weight: 600;
    font-size: 25px;
}

main .survey-article-text {
    font-size: 16px;
    padding-top: 20px;
    word-wrap: normal;
    line-height: 25px;
}